/* ---основные настройки--- */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* font-family: "Roboto", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Comfortaa", sans-serif;
font-family: "Ubuntu", sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ---end основные настройки--- */

/* ---логотип и язык--- */

.top__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img-card {
  width: 125px;

}

/* ---end логотип и язык--- */


/* ---приветствие--- */
section.message__card {
  background-color: #e5eef3;
  margin-bottom: 5px;
}

.message__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message__gif {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;

}

.animation__text-messege span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #cbd4d9;
  border-radius: 20px 20px 20px 0;
  box-shadow: 1px 1px 5px 1px rgb(187 203 211 / 33%);
  display: inline-block;
  padding: 9px 10px;
  animation: display-text-message 9s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes display-text-message {

  25%,
  100% {
    display: none;
  }
}

/* ---end приветствие--- */


/* ---бегущая строка--- */

.merquee__strouk {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #353535;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid #ededed;
  padding-bottom: 8px;
}

.text__strouk {
  padding-left: 100%;
  display: inline-block;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

/* ---end бегущая строка--- */


/* ----главная секция---- */


section.name__piople-card {
  margin-bottom: 10px;
}

/* ---аватарка--- */

.piple-card {
  display: flex;
  justify-content: space-between;
}

.header__piople-card {
  width: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(57, 57, 57, 0.15)
}

.piople__inner {
  padding-right: 5px;
}

/* ---end аватарка--- */

/* ---главные кнопки---  */
.buttons__contacts {
  width: 250px;
  display: flex;
  justify-content: space-between;
}


/* ----кнопка карта---- */
.header__maps-box {
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #e3faff;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 2px 2px 15px 1px rgba(229, 238, 243, 0.5);
}

.header__maps-box::before,
.header__maps-box::after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  background: conic-gradient(transparent, transparent, transparent, #00bce5);
  transform: rotate(0deg);
  animation: rotate-border 5s linear infinite;

}

.header__maps-box::after {
  animation-delay: -7.5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.header-maps__card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.btn__card-map {
  width: 33px;
  height: 33px;
  position: absolute;
  display: block;
  object-fit: cover;
  top: 10px;
  right: 12px;
}

/* ----end кнопка карта---- */

/* ----кнопка телефон---- */

.header__phone-box {
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #e3faff;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 2px 2px 15px 1px rgba(229, 238, 243, 0.5);
}

.header__phone-box::before,
.header__phone-box::after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  background: conic-gradient(transparent, transparent, transparent, #00bce5);
  transform: rotate(0deg);
  animation: rotate-border 5s linear infinite;

}

.header__phone-box::after {
  animation-delay: -7.5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.header-phone__card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.btn__card-phone {
  width: 33px;
  height: 33px;
  position: absolute;
  display: block;
  object-fit: cover;
  top: 10px;
  right: 12px;
}

/* ----end кнопка телефон---- */

/* ---кнопка мессенджера--- */

.accordeon__btm-social {
  position: relative;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  border: none;
  outline: none;
  background-color: transparent;
}


/* ---картинка мессенджера--- */
.accordeon__btm-social::before {
  content: '';
  background-image: url(../images/chat-message.png);
  width: 36px;
  height: 36px;
  position: absolute;
  right: 3px;
  top: 12px;
  background-size: cover;
  opacity: 1;
  transform: rotate(0deg);
  transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
}

.accordeon__btm-social--active::before {
  opacity: 0;
  transform: rotate(90deg);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* ---крестик закрытие мессенджера--- */

.accordeon__btm-social::after {
  content: '';
  background-image: url(../images/close-message.png);
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 22px;
  background-size: cover;
  opacity: 0;
  transform: rotate(-90deg);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.accordeon__btm-social--active::after {
  opacity: 1;
  transform: rotate(0deg);
  transition: opacity 0.2s ease-in-out, transform 0.4s ease-in-out;
}

/* ---анимация кнопки мессенджера--- */
.header__social-box {
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #e3faff;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  bottom: 203px;
  left: 0;
  box-shadow: 2px 2px 15px 1px rgba(229, 238, 243, 0.5);
}

.header__social-box::before,
.header__social-box::after {
  content: '';
  position: absolute;
  width: 65px;
  height: 65px;
  background: conic-gradient(transparent, transparent, transparent, #00bce5);
  transform: rotate(0deg);
  animation: rotate-border 5s linear infinite;

}

.header__social-box::after {
  animation-delay: -7.5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.header-social__card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}



/* ---end главные кнопки---  */


/* ---соцсети и имя--- */
.description__text {
  text-align: center;
  margin-top: -35px;
}

.client__social {
  align-items: center;
  display: inline-block;
}

.social__images {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.client__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 8px;
  border-radius: 50%;
  border: 2px solid #00bce5;
  margin-right: 30px;
  line-height: 1;

}

.client__number {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}

.social__header-link {
  border: 2px solid #00bce5;
  border-radius: 50%;
  padding: 8px 9px 6px 9px;
  box-shadow: 2px 2px 15px 1px rgba(229, 238, 243, 0.5);
}

.social__header-link+.social__header-link {
  margin-left: 15px;
}

.social__img {
  width: 23px;
  height: 23px;
}

.card__name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

.card__saurname {
  color: #00bce5;
}

.card__name-min {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.card__saurname-min {
  color: #00bce5;
}

.description__title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 45px;
}


/* ---end соцсети и имя--- */

/* ---слайдер с услугами--- */

/* ---услуги--- */
.container-top__card {
  width: 300px;
  margin: 0 auto;
}

.slider__container-card {
  position: relative;
  bottom: 54px;
}

.slide-card {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  color: #353535;
  width: 100%;
  position: absolute;
  transform: scale(0);
  transform-origin: center top;
  transition: all .1s cubic-bezier(0, 0, 0, 0.98);
}

.slide-card.active-crd {
  z-index: 10;
  transform: scale(1);
  transform-origin: center top;
}

.point-slide {
  width: 15px;
  margin-right: 10px;
}

/* ---end услуги--- */

/* ---progress bar--- */
.progress {
  height: 3px;
  width: 300px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
}

.progress #length {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5eef3;
  border-radius: 5px;
}

.progress #progress__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00bce5;
  border-radius: 5px;
  z-index: 55;
  animation: moving;
  /* 3 секунды на каждый сегмент из 5 */
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* анимация */

@keyframes moving {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* --- */

.slider__count {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
}

.slider__count .count {
  width: 20%;
}

.count+.count {
  border-left: 1px solid #ffffff;
}

/* ---end progress bar--- */

/* ---end слайдер с услугами--- */

/* ----end главная секция---- */

/* ------section cashback__card---- */

section.cashback__card {
  background-color: #e5eef3;
}

.cashback__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cashback-gif {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
}

.animation__text-cashback span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #353535;
  background-color: #fff;
  border: 1px solid #cbd4d9;
  border-radius: 20px 20px 20px 0;
  box-shadow: 1px 1px 5px 1px rgb(187 203 211 / 33%);
  display: inline-block;
  padding: 9px 10px;
  animation: display-text-cashback 9s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes display-text-cashback {

  25%,
  100% {
    display: none;
  }
}


/* ------end section cashback__card---- */

/* section loyal-step */

.tabs {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}

.tabs__nav {
  display: flex;
  justify-content: space-between;
}

.tabs__nav-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid #00bce5;
  background-color: #fff;
  box-shadow: 2px 2px 15px 1px rgba(229, 238, 243, 0.5);
  transition: 2s ease-in-out;
  z-index: 11;
  cursor: pointer;
}

.tabs__nav-btn.active {
  position: relative;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #e3faff;
  background-color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: scale(1.1);
}

.tabs__nav-btn.active::before,
.tabs__nav-btn.active::after {
  content: '';
  position: absolute;
  width: 58px;
  height: 58px;
  background: conic-gradient(transparent, transparent, transparent, #00bce5);
  transform: rotate(0deg);
  animation: rotate-border 5s linear infinite;
}

.tabs__nav-btn.active::after {
  animation-delay: -7.5s;
}

@keyframes rotrotate-border {
  100% {
    transform: rotate(360deg);
  }
}


.tabs__nav-btn p {
  font-size: 20px;
 }

.tabs__nav-btn.active p {
  font-size: 23px;
  border-radius: 50%;
  padding: 12px 19px;
  background-color: #fff;
  z-index: 4;
}

.tabs__nav-btn.nav-2.active~.steps__line span {
  width: 35%;
}

.tabs__nav-btn.nav-3.active~.steps__line span {
  width: 68%;
}

.tabs__nav-btn.nav-4.active~.steps__line span {
  width: 100%;
}



.steps__line {
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: #e5eef3;
  position: absolute;
  top: 48px;
  z-index: 9;
  border-radius: 50px;
}

.steps__line span {
  content: '';
  width: 2%;
  height: 100%;
  background-color: #00bce5;
  position: absolute;
  z-index: -1;
  border-radius: 50px;
  transition: all 1s ease;
  z-index: 10;
}

/* end section loyal-step */



@media (max-width: 525px) {
  .header__piople-card {
    width: 130px;
  }
}